<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/">
      <i class="fa fa-shopping-cart me-2"></i>
      Mi Proyecto
    </a>

    <!-- Mobile toggle button -->
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <!-- Products link -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active">
            <i class="fa fa-box me-1"></i>
            Productos
          </a>
        </li>

        <!-- Admin link (only for admins) -->
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active">
            <i class="fa fa-cog me-1"></i>
            Administración
          </a>
        </li>
      </ul>

      <!-- User menu -->
      <ul class="navbar-nav">
        <!-- Authenticated user -->
        <ng-container *ngIf="isAuthenticated$ | async">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-user me-1"></i>
              <span *ngIf="currentUser$ | async as user">
                {{ user.first_name || user.username }}
              </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" (click)="navigateToProfile()">
                  <i class="fa fa-user-circle me-2"></i>
                  Mi Perfil
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" (click)="logout()">
                  <i class="fa fa-sign-out me-2"></i>
                  Cerrar Sesión
                </a>
              </li>
            </ul>
          </li>
        </ng-container>

        <!-- Guest user -->
        <ng-container *ngIf="!(isAuthenticated$ | async)">
          <li class="nav-item">
            <a class="nav-link" (click)="navigateToLogin()">
              <i class="fa fa-sign-in me-1"></i>
              Iniciar Sesión
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navigateToRegister()">
              <i class="fa fa-user-plus me-1"></i>
              Registrarse
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
